
html,body {
  height: 100%;
  font-family: Helvetica;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

/*About Us*/
.about
{
    width:100%;
    padding: 78px 0px;
    background-color: #191919;
}

.about-text 
{
    width: 650px;

}
.main
{
    width: 1130px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;    
}

.about-text h1
{   
    color: white;
    font-size: 70px;
    text-transform:capitalize;
    margin-bottom: 20px;
    
}
.about-text h5
{
    color:white;
    font-size: 25px;
    text-transform:capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text span
{
    color: #f9004d;
}

.about-text p
{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    text-transform:capitalize;
    margin-bottom: 45px;
    text-align:justify
}